@using System.Net
@using System.Text

<MudDialog DisableSidePadding="true">
    <DialogContent>
        <MudContainer Style="max-height: 300px; overflow-y: scroll">
            @if (Loading)
            {
                <MudProgressCircular Indeterminate="true"></MudProgressCircular>
            }
            else
            {
                <div class="d-flex justify-center">
                    <MudImage ObjectFit="ObjectFit.Cover" Src="@ImageUrl" Alt="image"  Elevation="25" Class="rounded-lg"/>
                </div>
            }
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Ok">Tutup</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string ImageUrl { get; set; } 
    
    [Parameter]
    public string Title { get; set; }  

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Loading = true;
        Task.Delay(1);
        Loading = false;
    }

 
    private bool Loading = false;

    private void Ok()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }
}