<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OpenAIKey" value=""/>
		<add key="OpenAIOrg" value=""/>
		<add key="PalmKey" value=""/> <!---gemini api key ->-->		
		<!--<add key="PalmKey" value=""/> --><!---gemini api key ->-->		
		<add key="BlobPrefix" value="https://xxx.blob.core.windows.net/gambar/"/> <!---Azure blob url prefix->-->
		<add key="BlobConn" value=""/> <!---Azure blob connection->-->
		<add key="ContainerName" value="gambar"/> <!---Azure blob container name->-->
		<add key="GoogleSearchKey" value=""/> <!---Azure blob container name->-->
		<add key="GoogleSearchID" value=""/> <!---Azure blob container name->-->		
		<add key="AzureSearchApiKey" value=""/> <!---Azure blob container name->-->		
		<add key="AzureSearchEndpoint" value="https://xxx-search-ai.search.windows.net"/> <!---Azure blob container name->-->		
		<add key="AzureFormApiKey" value=""/> <!---Azure blob container name->-->		
		<add key="AzureFormEndpoint" value="https://xxx-cognitivesvc.cognitiveservices.azure.com/"/> <!---Azure blob container name->-->		
	</appSettings>
</configuration>