<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OpenAIKey" value="sk-XXXXX"/>
		<add key="OpenAIOrg" value="org-XXXXXX"/>
		<add key="PalmKey" value="AIXXXXX"/> <!---gemini api key ->-->		
		<add key="BlobPrefix" value="https://XXXXX.blob.core.windows.net/XXXX/"/> <!---Azure blob url prefix->-->
		<add key="BlobConn" value="DefaultEndpointsProtocol=https;AccountName=XXXXXXEndpointSuffix=core.windows.net"/> <!---Azure blob connection->-->
		<add key="ContainerName" value="XXXXX"/> <!---Azure blob container name->-->
		<add key="GoogleSearchKey" value="AIXXXXX"/> <!---Azure blob container name->-->
		<add key="GoogleSearchID" value="XXXXXX"/> <!---Azure blob container name->-->		
	</appSettings>
</configuration>