<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OpenAIKey" value="sk-xxxxx"/>
		<add key="OpenAIOrg" value="org-xxxxxx"/>
		<add key="PalmKey" value=""/> <!---gemini api key ->-->		
		<add key="BlobPrefix" value="https://[blob-account].blob.core.windows.net/XXX/"/> <!---Azure blob url prefix->-->
		<add key="BlobConn" value="DefaultEndpointsProtocol=https;AccountName=...;EndpointSuffix=core.windows.net"/> <!---Azure blob connection->-->
		<add key="ContainerName" value="XXX"/> <!---Azure blob container name->-->
		<add key="GoogleSearchKey" value="AI...."/> <!---Azure blob container name->-->
		<add key="GoogleSearchID" value="..."/> <!---Azure blob container name->-->		
	</appSettings>
</configuration>